body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0px;
}

a,
a:hover {
  text-decoration: none !important;
}

.main-landing {
  height: 100vh;
  background-color: $background-color;
}

.main-container {
  max-width: 1366px;
  margin: 0 auto;
}

.flex-landing {
  display: flex;
}
