.ilustration {
  margin: 0 auto;
  margin-top: 80px !important;
  padding-top: 20px;
  text-align: center;
}

.description {
  background-color: $background-color;
  padding: 50px 0;
  margin-top: -5px;
  h1 {
    color: $white;
    font-family: $headers-font;
    font-size: 40px !important;
  }
  p {
    color: $secondary-color;
    font-family: $body-font;
  }
}

.description-content {
  width: 660px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .ilustration {
    img {
      width: 700px;
    }
  }
}

@media (max-width: 768px) {
  .ilustration {
    padding-top: 70px;
    img {
      width: 500px;
    }
  }
}

@media (max-width: 716px) {
  .description-content {
    width: 560px;
  }

  .description {
    padding: 30px 10px;
    h1 {
      font-size: 32px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 608px) {
  .description-content {
    width: 100%;
  }
  .description {
    padding: 30px 10px;
  }
}

@media (max-width: 375px) {
  .ilustration {
    padding-top: 50px;
    img {
      width: 342px;
    }
  }
  .description-content {
    width: 100%;
  }

  .description {
    padding: 30px 10px;
    h1 {
      font-size: 28px !important;
    }
    p {
      font-size: 15px !important;
    }
  }
}

@media (max-width: 340px) {
  .ilustration {
    padding-top: 50px;
    img {
      width: 300px;
    }
  }
}
