.btn-box {
  margin-top: 50px;
}

.main-btn {
  border: 2px solid $primary-color;
  color: $primary-color;
  padding: 14px 85px;
  border-radius: 5px;
  font-family: $btn-font;
  font-size: 18px;
  font-weight: 600;
}

.main-btn:hover {
  background-color: rgba(186, 197, 225, 0.1);
}

.secondary-btn {
  border: none;
  background-color: $background-color;
  color: $primary-color;
  padding: 16px 100px;
  border-radius: 5px;
  font-family: $btn-font;
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
}

.secondary-btn:hover {
  background-color: rgba(10, 25, 47, 0.74);
  cursor: pointer;
}

@media (max-width: 768px) {
}
