.icons-position {
  width: 25px;
}

.icons-block {
  color: $secondary-color;
  font-size: 25px;
  height: 400px;
  padding-top: calc(100vh - 488px);
  padding-left: calc(50px + (58.64px / 2 - 25px / 2));
  a,
  a:active,
  a:focus {
    color: $secondary-color;
  }
  a:hover {
    color: $white;
  }
}

.socialmedia-icon {
  padding-bottom: 25px;
}

.vertical-line {
  border-color: $secondary-color;
  border-left: solid 1px;
  height: 114px;
  margin-top: 25px;
}

.line-position {
  padding-left: calc(21.44px / 2);
}

@media (max-width: 1376px) {
  .icons-block {
    padding-left: calc(40px + (58.64px / 2 - 25px / 2));
  }
}

@media (max-width: 796px) {
  .icons-block {
    display: none;
  }
}
